<header id="header" style="min-width=960px;">
<!--     <div class="logo"><a href="/_upload/article/images/c0/09/fe2eb36949d588515006d40676b4/5cbce3b3-d229-4870-bd56-7f5d657e12cc.png"><img src="{{site.baseurl}}/images/mias-logo.png"></a></div> -->

    <nav>
        <div class="navWide">
            <div class="wideDiv">
                {% for link in site.data.navlinks %}
                {% if page.group == link.group %}
                <a href="{{link.link}}" alt="{{link.name}}">{{link.name}}</a>
                {% else %}
                <a href="{{link.link}}" alt="{{link.name}}">{{link.name}}</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="navNarrow">
            <i class="fa fa-bars fa-1x"></i>
            <div class="narrowLinks hidden">
                {% for link in site.data.navlinks %}
                {% if page.group == link.group %}
                <a href="{{link.link}}" alt="{{link.name}}">{{link.name}}</a>
                {% else %}
                <a href="{{link.link}}" alt="{{link.name}}">{{link.name}}</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </nav>

</header>
