---
layout: pages
title: Members
group: members
heading:
bgimage: https://ice.frostsky.com/2024/07/23/0e25a497d0176173d0b1d7c157ff731d.jpeg
---
<header>
    <meta name="viewport" content="width=1100px">
</header>
    {% for person in site.data.members %}
    
        <div class="row">
            <div class="3u 12u$(small)">
                <span class="image fit"><img src="{{person.image}}" alt=""></span>
                <br>
                <strong><span class="memberName">{{person.name}}</span></strong><br>
                <span class="memberDetail">{{person.position}}</span><br>
                <em><span class="memberDetail">{{person.email}}</span></em><br>
                {% if person.orcid %}
                  <a href="http://orcid.org"><img class="inline-block" src="/images/orcid_logo.png"></a>
                  <a id="links" href="http://{{person.orcid}}"><span class="memberDetail"> {{person.orcid}}</span></a> <br>
                {% endif %}
                {% if person.scholar %}
                  <a href="https://scholar.google.com/"><img class="inline-block" src="/images/google-scholar.png"></a>
                  <a id="links" href= "http://scholar.google.com/citations?user={{person.scholar}}"><span class="memberDetail">Google Scholar</span></a> <br>
                {% endif %}
            </div>
        
            <div style="text-align: justify" class="9u$ 12u$(small)">
                {{person.description | markdownify}}
            </div>
        
        </div>
        <hr>
    {% endfor %}
